@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* border: solid red 1px; */
}

body {
    background-image: url(images/wov.jpg);
    background-color: #E1E5CA;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", system-ui;
    font-weight: 800;
}

#calculator {
    background-color: #656D4A;
    width: 450px;
    height: 535px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;

}

#screen {
    background-color: #FEFAE0;
    height: 85px;
    margin: 25px;
    /* overflow: hidden; */
    border-radius: 20px;
    box-shadow: inset 0 0 10px #2836184d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #414833;
    font-size: 50px;
}

#pad {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    background-color: #6E7653;
    width: 80px;
    height: 80px;
    margin: 7px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFAE0;
    font-size: 30px;
    vertical-align: middle;
}

#calculator,
.btn {
    box-shadow: inset 8px 8px 18px #b6ad903f, 
                5px 5px 15px #4148338a, 
                inset 0 0 15px #41483386;
}

.operator,
.equalBtn,
.point {
    background-color: #936639;
}


.btn:hover {
    box-shadow: inset 0 0 15px #333d29a9;
    color: #C2C5AA;
}

footer {
    position: absolute;
    bottom: 15px; right: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    color: #656D4A;
    letter-spacing: .1em;
    text-transform: uppercase;
}

a {
    color: #936639;
}

a:hover {
    color: #582F0E;
}

#backspace,
#clear {
    background-color: #936639;
    width: fit-content;
    height: 40px;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    text-transform: uppercase;
    color: #FEFAE0;
    font-size: 15px;
    letter-spacing: .1em;
    box-shadow: inset -20px 0px 20px -20px #333d2934;
}

#backspace:hover,
#clear:hover {
    color: #414833;
    text-decoration: dashed underline;
}

#clear,
#backspace {
    border-radius: 0 15px 15px 0;
    padding-right: 10px;
    margin-top: 10px;
}

/* #clear {
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
} */

#operationScreen {
    font-size: 18px;
    color: #936639;
    align-self: flex-start;
    line-height: 15px;
    padding-left: 8px;
}

#inputScreen {
    line-height: 1em;
    align-self: flex-end;
    padding-right: 10px;
}